*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/group_lib/lib_a/src/androidTest/
/group_lib/lib_a/src/test/
/group_lib/lib_b/src/androidTest/
/group_lib/lib_b/src/test/
/group_lib/src/androidTest/
/group_lib/src/test/
